.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #e7ff96, #c7fcea);
}

.container div {
    margin-top: 10px;
    margin-bottom: 15px;
}

.container .error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.container label.error {
    font-size: 16px;
    display: inline;
}
.info {
    margin: 50px;
    margin-top: 50px;
    padding: 30px;
    font-size: 15px;
    width: 500px;
    background-image: linear-gradient(to right, #c7fcea, #c5b1fc);
    border-radius: 20px;
}
.education {
    margin: 50px;
    padding: 30px;
    font-size: 15px;
    width: 500px;
    background-image: linear-gradient(to right, #c7fcea, #c5b1fc);
    border-radius: 20px;
}
#edu {
    margin: 10px;
    padding: 10px;
    border: solid black 2px;
}
h2 {
    margin-left: 50px;
}
#btn1 {
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
    margin: 0px;
    background: #b296ff;
    color: #fff;
    border-radius: 50%;
}

.buton {
    margin-left: 100px;
}

#submitButton {
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
    margin: 0px;
    background: #b296ff;
    color: #fff;
    border-radius: 10px;
}
.button {
    text-align: center;
}
#btn2 {
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
    margin: 0px;
    background: #b296ff;
    color: #fff;
    border-radius: 50%;
}
.job {
    margin: 50px;
    padding: 30px;
    font-size: 15px;
    width: 500px;
    background-image: linear-gradient(to right, #c7fcea, #c5b1fc);
    border-radius: 20px;
}
#jobs {
    margin: 10px;
    padding: 10px;
    border: solid black 2px;
}

span {
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
}
